In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [4]:
df.shape

(891, 5)

In [5]:
df.dropna(inplace = True)

In [6]:
df.shape

(714, 5)

In [7]:
df.sample(5)

      Age     Fare  SibSp  Parch  Survived
242  29.0  10.5000      0      0         0
289  22.0   7.7500      0      0         1
684  60.0  39.0000      1      1         0
780  13.0   7.2292      0      0         1
170  61.0  33.5000      0      0         0

In [8]:
df["Family"] = df['SibSp']+df['Parch']

In [9]:
df.sample(5)

      Age     Fare  SibSp  Parch  Survived  Family
147   9.0  34.3750      2      2         0       4
691   4.0  13.4167      0      1         1       1
135  23.0  15.0458      0      0         0       0
491  21.0   7.2500      0      0         0       0
345  24.0  13.0000      0      0         1       0

In [10]:
df.drop(columns = ['SibSp','Parch'],inplace = True)

In [11]:
df.head()

    Age     Fare  Survived  Family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [12]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [15]:
X_train.sample(5)

       Age     Fare  Family
120  21.00  73.5000       2
858  24.00  19.2583       3
460  48.00  26.5500       0
469   0.75  19.2583       3
58    5.00  27.7500       3

In [17]:
# model prediction without code
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
accuracy_score(y_test,y_pred)

0.6363636363636364

In [18]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv = 10 ,scoring='accuracy'))

0.652738654147105

In [19]:
# model prediction with Binarization

In [22]:
from sklearn.preprocessing import Binarizer

trf = ColumnTransformer([
    ('bin',Binarizer(copy = False),["Family"])
],remainder = 'passthrough')

In [23]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [24]:
pd.DataFrame(X_train_trf,columns=['Family','Age','Fare'])

     Family   Age      Fare
0       1.0  31.0   20.5250
1       1.0  26.0   14.4542
2       1.0  30.0   16.1000
3       0.0  33.0    7.7750
4       0.0  25.0   13.0000
..      ...   ...       ...
566     1.0  46.0   61.1750
567     0.0  25.0   13.0000
568     0.0  41.0  134.5000
569     1.0  33.0   20.5250
570     0.0  33.0    7.8958

[571 rows x 3 columns]

In [25]:
clf = DecisionTreeClassifier()
clf.fit(X_train_trf,y_train)
y_pred2 = clf.predict(X_test_trf)

accuracy_score(y_test,y_pred2)

0.6223776223776224

In [30]:
X_trf = trf.fit_transform(X)

In [31]:
np.mean(cross_val_score(DecisionTreeClassifier(),X_trf,y,cv =10 ,scoring = 'accuracy'))

0.6304381846635367